.container {
	font-family: Arial, Helvetica, sans-serif;
	padding-bottom: 30px;
	background-color: #333333;
}

.container--offline {
	background-color: #CCCCCC;
}

.gallery__item {
	display: inline-block;
	vertical-align: middle;
	opacity: 1;
	transition: opacity 1s ease;
}

.gallery__item--loading {
	width: 49%;
	height: 200px;
	background-color: #555555;
	margin: 1px;
	opacity: 0.5;
}

.modal {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: #333333;
	display: none;
}

.modal--visible {
	display: block;
}

.modal__control {
	position: absolute;
	left: 0;
	width: 100%;
	z-index: 1;
	height: 50px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-transition: opacity 1s ease;
	-o-transition: opacity 1s ease;
	transition: opacity 1s ease;
	background-color: rgba(51, 51, 51, 0.5);
	opacity: 0;
}

.modal__control--top {
	top: 0;
}

.modal__control--bottom {
	bottom: 0;
	-ms-flex-pack: distribute;
	justify-content: space-around;
}

.modal__control--visible {
	opacity: 1;
}

.control__item {
	text-decoration: none;
	color: #FFFFFF;
	padding: 15px;
	display: inline-block;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	font-size: 20px;
}

.control__item--icon {
	max-width: 24px;
}

.content__wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	height: 90vh;
	padding-bottom: 30px;
}

.content__img__wrapper {
	width: 100%;
	text-align: center;
}

.content__img {
	-webkit-transform-origin: top left;
	-ms-transform-origin: top left;
	transform-origin: top left;
	max-width: 100%;
	max-height: 80vh;
}

.heading {
	font-size: 2em;
	color: #FFFFFF;
	padding: 10px 0;
	text-align: center;
}

.tips {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: rgba(51, 51, 51, 0.8);
	z-index: 2;
	opacity: 0.95;
	color: #FFFFFF;
	padding: 50px 0 0 40px;
}

.tips--center {
	margin-top: 30%;
}

.tips--close {
	background-color: #FFFFFF;
	padding: 10px;
	margin-top: 30px;
	font-size: 18px;
	cursor: pointer;
	border: 0;
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block; }

body {
	line-height: 1; }

ol, ul {
	list-style: none; }

blockquote, q {
	quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none; }

table {
	border-collapse: collapse;
	border-spacing: 0; }

/* http://www.paulirish.com/2012/box-sizing-border-box-ftw/ (2015/04/28)*/
html {
	box-sizing: border-box; }

*, *:before, *:after {
	box-sizing: inherit; }