.gallery-container {

	font-family: Arial, Helvetica, sans-serif;

	height: 100vh;
	overflow-y: scroll;

	/* fix momentum scrolling on iOS */
	-webkit-overflow-scrolling: touch;
	will-change: transform;

	background-color: #333333;

}

header {
	font-size: 2em;
	padding: 8px 0;
	text-align: center;
	color: #ffffff;
}

.gallery-list-item {
	background-color: #EEEEEE;
	margin-bottom: 1px;
	min-height: 100px;
}

.gallery-list-item-img {
	width: 100%;
}

.gallery-list-item-img-loaded {
	animation: popIn 0.2s ease;
}

@keyframes popIn {
	from {
		transform: scale(0.5);
	}
	to {
		transform: scale(1);
	}
}

.modal {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: #000000;
}

.modal-controls {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1;
	height: 50px;
	display: flex;
	align-items: center;
}

.modal-control-item {
	text-decoration: none;
	color: #FFFFFF;
	padding: 15px;
}

.modal-wrapper {
	display: flex;
	flex-direction: row;
	padding-top: 50px;
}

.modal-img-wrapper {
	flex: 0 0 auto;
	width: 100%;
	text-align: center;
}

.modal-img {
	transform-origin: top left;
	max-width: 100%;
	max-height: 90vh;
}

.column-grid {
	/* Prevent vertical gaps */
	line-height: 0;
	-webkit-column-count: 5;
	-webkit-column-gap: 0;
	-moz-column-count: 5;
	-moz-column-gap: 0;
	column-count: 5;
	column-gap: 1px;
	overflow-x: hidden;
}

@media (max-width: 600px) {
	.column-grid {
		-moz-column-count:    2;
		-webkit-column-count: 2;
		column-count:         2;
	}
}
@media (max-width: 300px) {
	.column-grid {
		-moz-column-count:    1;
		-webkit-column-count: 1;
		column-count:         1;
	}
}

.flex-grid {
	/* Prevent vertical gaps */
	line-height: 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	background: #333333;
}

.flex-grid .gallery-list-item {
	max-width: 50%;
}